@media(min-width:2560px){
  .serviceCard h2{
    font-size: 7rem;
  }
  .serviceCard p, .serviceCard button{
    font-size: 2rem;
  }
  .serviceCard img{
    height:800px;
  }
}

@media(max-width:769px){
  .serviceCard h2{
    font-size: 3rem;
  }
  .serviceCard p, .serviceCard button{
    font-size: 1rem;
  }
}

@media(max-width:626px){
  .serviceCard {
    display: flex;
    flex-wrap: wrap;
  }
  .serviceCard h2{
    font-size: 1.5em;
  }
  .serviceCard  img, .serviceCard  button{
    display: none;
  }
  .SForm{
    display: flex;
  }
}

@media(max-width:376px){
  .serviceCard  h2{
    font-size: 2rem;
  }
  .SForm{
    padding: 3px 5px;
    font-size: 5px;
  }
  .Sprices p, .Sprices a{
    font-size: 1em;
  }
}

@media(max-width:321px){
  .serviceCard  h2{
    font-size: 1.4rem;
  }
  .Sprices p, .Sprices a{
    font-size: 13px;
  }
}