@media (min-width:2560px){
  .HomeContent h1{
    font-size: 4em;
  }
  .HomeContent p, .HomeContent button{
    font-size: 2em;
  }
  .About img{
    height: 400px;
    width: 350px;
  }
  .About h1{
    font-size: 2.8em;
  }
  .Acontent button, .Acontent p, .About a{
    font-size: 1.5em;
  }
  .Profiles img{
    height: 140px;
    width: 140px;
  }
  .Pprojects h2, .Pprojects p{
    font-size: 2em;
  }
  .Pprojects h1{
    font-size: 5em;
  }
  .why h2, .Wtitle a, .Wtitle h2{
    font-size: 1em;
  }
  .Wtitle h1{
    font-size: 7em;
  }
  .Wtitle p, .Wtitle a{
    font-size: 2em;
  }
  .wP h2{
    font-size: 2.2em;
  }
  .testimonials h1{
    font-size: 5rem;
  }
  .testimonials p{
    font-size: 2rem;
  }
  /*.Contact{
    display: flex;
    justify-content: start;
  }*/
  .Contact h2, .Contact p, .Contact h3{
    font-size: 2rem;
  }
  .Contact h1{
    font-size: 6rem;
  }
  .ContactForm label{
    font-size: 2rem;
    font-weight: 400;
  }
  .ContactForm input{
    padding: 1.3rem;
  }
  input::placeholder, textarea::placeholder{
    font-size: 1.8rem;
  }
  .ContactForm button{
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0
  }
} 

@media (width:1024px){
  .services{
    overflow: hidden;
  }
}

@media (max-width:768px){
  .HomeContent h1{
    font-size: 2em;
  }
  .HomeContent p, .HomeContent button{
    font-size: 12px;
  }
  .About img{
    height: 300px;
    width: 250px;
  }
  .About h1{
    font-size: 1.2em;
  }
  .Acontent button, .Acontent p, .About a{
    font-size: 10px;
  }
  .MapIcons{
    grid-template-columns: repeat(3, 1fr);
  }
  .Pprojects h1{
    font-size: 2em;
  }
  .PpCard{
    grid-template-columns: repeat(2, 1fr);
  }
  .Wtitle{
    grid-template-columns: repeat(1, 1fr)
  }
  .TesHeading h1{
    width: 80%;
  }
  .Contact{
    padding: 12px;
  }
  .Contact h2, .Contact p, .Contact h3{
    font-size: 1rem;
  }
}

@media (width:768px){
  .services{
    overflow: hidden;
  }
}

@media (max-width:626px){
  .HomeContent h1{
    font-size: 1.5em;
  }
  .HomeContent p{
    padding: 5px;
  }
  .HomeContent p, .HomeContent button{
    font-size: 12px;
  }
  .About{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .About img{
    display: none;
  }
  .SText{
    align-items: start;
    font-size: 4rem ;
    height: 150px;
    padding: 5px 10px;
  }
  .Profiles{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    align-items: center;
  }
  .Pprojects{
    display: flex;
    flex-wrap: wrap;
  }
  .Pprojects .H1Project{
    display: none;
  }
  .TesHeading h1{
    width: 90%;
    font-size: 2.5rem;
  }
  .TesCard{
    display: flex;
    flex-wrap: wrap;
  }
  .Ccontainer{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:426px) {
  .projectContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .projectContainer img{
    margin-top: 20px;
  }
  .MapIcons{
    grid-template-columns: repeat(2, 1fr);
  }
  .PpCard{
    grid-template-columns: repeat(1, 1fr);
  }
  .Wtitle h1{
    font-size: 1em;
  }
  .Wtitle p, .Wtitle a{
    font-size: 14px;
  }
  .wP h2{
    font-size: 15px;
  }
  .TesHeading h1{
    width: 100%;
    font-size: 2rem;
  }
  .TesLogs{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:376px) {
  .Acontent{
    display: flex;
    flex-wrap: wrap;
  }
  .SText h1 span{
    margin-left: 10px;
  }
  .HIcons{
    grid-template-columns: repeat(2, 1fr);
  }
  hr{
    display: none;
  }
  .wP{
    grid-template-columns: repeat(1, 1fr);
  }
  .Wborder{
    border: none;
  }
  .TesHeading h1{
    font-size: 1.6rem;
  }
  .inputC{
    grid-template-columns: repeat(1, 1fr);
  }
}

