@media (min-width:2560px){
  .HomeContent h1{
    font-size: 4em;
  }
  .HomeContent p, .HomeContent button{
    font-size: 2em;
  }
  .About img{
    height: 400px;
    width: 350px;
  }
  .About h1{
    font-size: 2.8em;
  }
  .Acontent button, .Acontent p, .About a{
    font-size: 1.5em;
  }
} 

@media (max-width:768px){
  .HomeContent h1{
    font-size: 2em;
  }
  .HomeContent p, .HomeContent button{
    font-size: 12px;
  }
  .About img{
    height: 300px;
    width: 250px;
  }
  .About h1{
    font-size: 1.2em;
  }
  .Acontent button, .Acontent p, .About a{
    font-size: 10px;
  }
}

@media (max-width:626px){
  .HomeContent h1{
    font-size: 1.5em;
  }
  .HomeContent p{
    padding: 5px;
  }
  .HomeContent p, .HomeContent button{
    font-size: 12px;
  }
  .About{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .About img{
    display: none;
  }
  .SText{
    align-items: start;
    font-size: 4rem ;
    height: 150px;
    padding: 5px 10px;
  }
}

@media (max-width:426px) {
  .projectContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .projectContainer img{
    margin-top: 20px;
  } 
}

@media(max-width:376px) {
  .Acontent{
    display: flex;
    flex-wrap: wrap;
  }
  
  .SText h1 span{
    margin-left: 10px;
  }
}