@media (min-width:2560px) {
  .pContainer{
    height: fit-content;
  }
  .pContainer img{
    height: 50%;
  }
  .pTexts h3, .pTexts a, .pTexts p {
    font-size: 1.5em;
  }
}

@media(max-width: 320px) {
  .type{
    font-size: 11px;
  }
}